:root{
  --first-color: #03A9F4;
  --second-color: #fff;
  --back-color: #243b55;
}
/* *{
  box-sizing: border-box;
  font-family: sans-serif;
}
html, body{
  margin: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(70deg, #141e30, #243b55);

}
.container, .wrapper{
  position: relative;
  min-height: 100%;
  width: 100%;
  text-align: center;
  padding: 20px;
}
.container{
  overflow: hidden;
} */
h2{
  /* position: relative;
  font-family: Roboto; */
  color: var(--first-color);
  /* font-size: 25px;
  margin: 0;
  margin-bottom: 0.35em; */
}
textarea{
  height: 200px;
  width: 60%;
  white-space: wrap;
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  border-width: 1px;
  color: #fff;
  font-weight: 100;
  border-color: var(--first-color);
  margin: 10px 0;
  background: linear-gradient(70deg, #141e30, #243b55);
}
textarea:focus{
  outline: none;
  border-color: var(--first-color);
}
select, textarea, span, button{
  font-size: 20px;
}
span{
  color: #fff;
  font-weight: 100;
}
select{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none; 
  display: inline-block;
  border: 0;
  border-radius: 3px;
  background-color: #efefef;
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3), 0px 3px 5px 0px rgba(0,0,0,0.4);
  padding: 2px 8px 0px 5px;
  margin: 0 5px 4px 5px;
  cursor: pointer;
}
select::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
option{
  font-size: 15px;
}

select:focus, button:focus{
  outline: none;
}
#out{
  margin-top: 20px;
}
.output-area{
  margin-bottom: 15%;
}
hr{
  width: 70%;
  border: none;
  border-top: 2px solid var(--first-color);
  background: none;
}
button{
  width: 140px;
  padding: 6px 0px;
  border: 0;
  border-radius: 3px;
  border: 1px solid var(--first-color);
  color: var(--first-color);
  background-color: transparent;
  margin-bottom: 10px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
button:hover{
  color: var(--back-color);
  background-color: var(--first-color);
}
#hidden{
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: -1;
}
.emoji{
  font-size: 2.6em;
  line-height: 1;
  vertical-align: middle;
  margin-left: 5px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin: 0 0 5px -20px;
  color: rgba(255, 255, 255, 0.3);
  font-family: Ubuntu;
  font-size: 0.7em;
}
footer span {
  display: block;
  font-size: 0.5em;
  color: rgba(255, 255, 255, 0.2);
  text-transform: uppercase;
  margin-bottom: 3px;
}

@media screen and (max-width: 600px){
  .container, .wrapper{
    padding: 0px;
  }
  textarea{
    height: 150px;
    width: 90%;
    font-size: 15px;
  }
  hr{
    width: 85%;
  }
  span, select{
    font-size: 15px;
  }
  button:hover, button:focus{
    background-color: transparent;
    color: var(--first-color);
    outline: none;
  }

}

.mdl-snackbar {
  position: fixed;
  bottom: 0;
  left: 50%;
  cursor: default;
  background-color: #323232;
  z-index: 3;
  display: block;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  will-change: transform;
  -webkit-transform: translate(0, 80px);
          transform: translate(0, 80px);
  transition: -webkit-transform 0.25s cubic-bezier(0.4, 0, 1, 1);
  transition: transform 0.25s cubic-bezier(0.4, 0, 1, 1);
  transition: transform 0.25s cubic-bezier(0.4, 0, 1, 1), -webkit-transform 0.25s cubic-bezier(0.4, 0, 1, 1);
  pointer-events: none; }
  @media (max-width: 479px) {
    .mdl-snackbar {
      width: 100%;
      left: 0;
      min-height: 48px;
      max-height: 80px; } }
  @media (min-width: 480px) {
    .mdl-snackbar {
      min-width: 288px;
      max-width: 568px;
      border-radius: 2px;
      -webkit-transform: translate(-50%, 80px);
              transform: translate(-50%, 80px); } }
  .mdl-snackbar--active {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    pointer-events: auto;
    transition: -webkit-transform 0.25s cubic-bezier(0, 0, 0.2, 1);
    transition: transform 0.25s cubic-bezier(0, 0, 0.2, 1);
    transition: transform 0.25s cubic-bezier(0, 0, 0.2, 1), -webkit-transform 0.25s cubic-bezier(0, 0, 0.2, 1); }
    @media (min-width: 480px) {
      .mdl-snackbar--active {
        -webkit-transform: translate(-50%, 0);
                transform: translate(-50%, 0); } }
  .mdl-snackbar__text {
    padding: 14px 12px 14px 24px;
    vertical-align: middle;
    color: rgb(236,64,122);
    float: left; }
  .mdl-snackbar__action {
    display: none;
    background: transparent;
    border: none;
    color: rgb(255,64,129);
    float: right;
    text-transform: uppercase;
    /* padding: 14px 24px 14px 12px; */
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    /* font-size: 14px; */
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 0;
    overflow: hidden;
    outline: none;
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
                -ms-grid-row-align: center;
            align-self: center; }
    .mdl-snackbar__action::-moz-focus-inner {
      border: 0; }
    .mdl-snackbar__action:not([aria-hidden]) {
      opacity: 1;
      pointer-events: auto; }
